My project (14)/Library/PackageCache/com.unity.burst@1.8.11/.Runtime/libburst-llvm-15.dylib
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
My project (14)/Logs/shadercompiler-UnityShaderCompiler.exe1.log
My project (14)/Logs/shadercompiler-UnityShaderCompiler.exe2.log
My project (14)/Logs/AssetImportWorker0.log
My project (14)/Logs/AssetImportWorker1.log
My project (14)/.vs/My project (14)/FileContentIndex/9f2ba84d-7080-4133-b7e0-fe3e36a386f3.vsidx
My project (14)/.vs/My project (14)/FileContentIndex/7e4723ad-df7e-49cb-8287-02e2cf3ddb27.vsidx
My project (14)/.vs/My project (14)/FileContentIndex/e662b1a9-cce4-42c5-acf6-7cd3d6775a42.vsidx
My project (14)/.vs/My project (14)/v17/.suo
My project (14)/Assembly-CSharp.csproj
My project (14)/Logs/AssetImportWorker0-prev.log
My project (14)/Logs/AssetImportWorker1-prev.log
My project (14)/Logs/AssetImportWorker2-prev.log
My project (14)/Logs/AssetImportWorker2.log
My project (14)/Logs/AssetImportWorker3-prev.log
My project (14)/Logs/AssetImportWorker3.log
My project (14)/Logs/AssetImportWorker4-prev.log
My project (14)/Logs/AssetImportWorker5-prev.log
My project (14)/Logs/AssetImportWorker6-prev.log
My project (14)/Logs/AssetImportWorker7-prev.log
My project (14)/Logs/AssetImportWorker8-prev.log
My project (14)/Logs/AssetImportWorker9-prev.log
My project (14)/Logs/shadercompiler-AssetImportWorker0.log
My project (14)/Logs/shadercompiler-UnityShaderCompiler.exe10.log
My project (14)/Logs/shadercompiler-UnityShaderCompiler.exe11.log
My project (14)/Logs/shadercompiler-UnityShaderCompiler.exe12.log
My project (14)/Logs/shadercompiler-UnityShaderCompiler.exe13.log
My project (14)/Logs/shadercompiler-UnityShaderCompiler.exe14.log
My project (14)/Logs/shadercompiler-UnityShaderCompiler.exe3.log
My project (14)/Logs/shadercompiler-UnityShaderCompiler.exe4.log
My project (14)/Logs/shadercompiler-UnityShaderCompiler.exe5.log
My project (14)/Logs/shadercompiler-UnityShaderCompiler.exe6.log
My project (14)/Logs/shadercompiler-UnityShaderCompiler.exe7.log
My project (14)/Logs/shadercompiler-UnityShaderCompiler.exe8.log
My project (14)/Logs/shadercompiler-UnityShaderCompiler.exe9.log
My project (14)/UserSettings/EditorUserSettings.asset
My project (14)/My project (14).sln
