My project (14)/Library/PackageCache/com.unity.burst@1.8.11/.Runtime/libburst-llvm-15.dylib
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
My project (14)/Logs/shadercompiler-UnityShaderCompiler.exe1.log
My project (14)/Logs/shadercompiler-UnityShaderCompiler.exe2.log
My project (14)/Logs/AssetImportWorker0.log
My project (14)/Logs/AssetImportWorker1.log
